/* 默认主题 (Pink) */
:root.theme-pink {
  --main-pink: #333333;
  --bg-cream: #ffffff;
  --light-pink: #e0e0e0;
  --text-dark: #333333;
  --text-light: #777777;
}

/* 蓝色主题 (Blue) */
:root.theme-blue {
  --main-pink: #b8dcf0;
  --bg-cream: #f9fbff;
  --light-pink: #d7e8f8;
  --text-dark: #334455;
  --text-light: #667788;
}

/* 绿色主题 (Green) */
:root.theme-green {
  --main-pink: #b8f0c8;
  --bg-cream: #f9fffb;
  --light-pink: #d7f8e0;
  --text-dark: #335544;
  --text-light: #668877;
}

/* 深色主题 (Dark) */
:root.theme-dark {
  --main-pink: #555;
  --bg-cream: #222;
  --light-pink: #333;
  --text-dark: #eee;
  --text-light: #aaa;
}
